@using Naif.Blog.Models
@using Naif.Blog.Services

<nav class="@CssClass" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="@homeUrl">@Blog.Title</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarMenu">
            <Navigation Posts="@Posts" 
                        PostId="" 
                        CssClass="@MenuCssClass" 
                        SubMenuCssClass="@SubMenuCssClass" 
                        Depth="@Depth" 
                        IncludeParent="@IncludeParent" />
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="profileMenu">
            <ProfileMenu IncludeSignIn="@IncludeSignIn" 
                         IncludeSignUp="IncludeSignUp" 
                         IncludeProfilePicture="@IncludeProfilePicture" 
                         CssClass="@MenuCssClass" 
                         SubMenuCssClass="@SubMenuCssClass" />
        </div>
    </div>
</nav>


@code {
    private string homeUrl;
    
    [Parameter]
    public Blog Blog { get; set; }
    
    [Parameter]
    public IBlogManager BlogManager { get; set; }
    
    [Parameter]
    public string CssClass { get; set; }
    
    [Parameter]
    public int Depth { get; set; }

    [Parameter]
    public bool IncludeParent { get; set; }

    [Parameter]
    public bool IncludeProfilePicture { get; set; }

    [Parameter]
    public bool IncludeSignIn { get; set; }

    [Parameter]
    public bool IncludeSignUp { get; set; }

    [Parameter]
    public string MenuCssClass { get; set; }

    [Parameter]
    public IList<Post> Posts { get; set; }

    [Parameter]
    public string SubMenuCssClass { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await Task.Run(() =>
        {
            homeUrl = (String.IsNullOrEmpty(Blog.HomeRedirectUrl)) ? "/home" : Blog.HomeRedirectUrl;
        });
    }
}