@using Naif.Blog.Models
<article class="post">
    <header>
        <div>
            <h2>@Post.Title</h2>
        </div>
        <div>
            Category:
            @foreach (var category in Post.Categories)
            {
                <span><a asp-controller="Post" asp-action="ViewCategory" asp-route-category="@category.Name">@category.Name</a></span>
            }
        </div>
        <div>
            Tags:
            @foreach (var tag in Post.Tags)
            {
                <span><a asp-controller="Post" asp-action="ViewTag" asp-route-tag="@tag.Name">@tag.Name</a></span>
            }
        </div>
        <div>Last Modified: @Post.LastModified.ToString("MMM d yyyy")</div>
    </header>
    <section>
        @((MarkupString)Post.Content)
    </section>
</article>

@code {
       
    [Parameter]
    public Post Post { get; set; }
}